footer {
    position: relative;
    color: #015C7F;
    background-color: #F8F8FF;
    box-shadow: 0px -5px 10px rgb(190, 190, 190);
    z-index: auto;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-icons {
    padding: 5px;
    background-color: #015C7F;
    border-radius: 60px;
}

.whatsapp {
    background-color: #015C7F;
}