header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: #F8F8FF;
    color: #0CBBFE;
}

header h1{
    font-size: 6em;
    margin: 0;
}