header {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100vw;
    background-color: #F8F8FF;
    color: #0CBBFE;
    box-shadow: 5px 0px 10px rgb(145, 145, 145);
}

header h1{
    font-size: 6em;
    margin: 0;
}

