.register-background {
    color: white;
    display: flex;
    background-color: #0CBBFE;
    height: 100vh;
}

.register-container {
    background-color: #015C7F;
    margin: auto;
    max-width: 50vw;
    border-radius: 25px;
    box-shadow: 5px 5px 20px hsl(0, 0%, 20%);
}

.register-form {
    display: flex;
    flex-direction: row;
}

.column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px;
    padding-top: 25px;
    gap: 10px;
    width: 350px;
}

.column2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    padding: 50px;
    padding-top: 25px;
    gap: 10px;
    width: 350px;
}
.h1reg {
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}


input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 3px 3px 20px hsl(0, 0%, 21%);
}

.btn-div {
    text-align: center;
    margin-bottom: 25px;
}

.btn-reg {
    background-color: #0CBBFE;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 30px 80px;
    align-self: center;
}

.btn-reg:hover {
    background-color: hsl(197, 99%, 42%);
    cursor: pointer;
}